/* Tabs Navigation */
.outfit-tabs {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto auto;
	grid-auto-flow: row;
	row-gap: 6px;
	column-gap: 12px;

	padding: 0 4px;
	margin-bottom: 8px;

	background: none;
	border-radius: 0;
}

.system-tab-list {
	grid-column: 1 / span 2;
	display: flex;
	gap: 12px;
	align-self: start;

	opacity: 0.8;
}

.outfit-tab-list {
	grid-column: 1 / span 2;

	display: flex;
	flex-wrap: wrap;
	gap: 12px;

	overflow-x: visible;

	margin-top: 4px;
	border-top: 2px solid rgba(255, 255, 255, 0.2);
}




.outfit-tab {
	background: none;
	border: none;
	padding: 6px 3px;

	font-size: 1.2rem;
	font-weight: 600;
	text-transform: none;
	letter-spacing: normal;

	color: rgba(255, 255, 255, 0.6);
	cursor: pointer;

	border: 2px solid transparent;
}


.outfit-tab.active {
	color: #fff
}

.outfit-tab:hover {
	color: rgba(255, 255, 255, 0.85);
}


.system-tab-list > .outfit-tab {
	padding: 4px 8px;
	font-size: 1em;
	line-height: 1;
	border-radius: 6px;
	background-color: rgba(255, 255, 255, 0.08);

	color: rgba(255, 255, 255, 0.6);
	transition: background-color 120ms ease, color 120ms ease;
}

.system-tab-list > .outfit-tab:hover {
	background-color: rgba(255, 255, 255, 0.25);
}

.system-tab-list > .outfit-tab.active {
	background-color: rgba(255, 255, 255, 0.15);

	color: #fff;
	font-weight: 700;
	text-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}



.outfit-tab-list > .outfit-tab {
	border-bottom-color: rgba(255, 255, 255, 0.25);
}

.outfit-tab-list > .outfit-tab.active {
	border-bottom-color: #fff;
}


.add-tab {
	margin-left: auto;
	width: 4em;

	padding: 4px 8px;
	font-size: 1em;
	line-height: 1;
	border-radius: 6px;
	background: rgba(255, 255, 255, 0.12);
}